//main.scss

body {
  box-sizing: border-box;
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
}
.recipe-scraper-admin-page {
  padding-right: 15px;
  h2 {
    margin-top: 5px;
  }
  .tab-wrapper {
    background: white;
    padding: 20px;
  }
  .scrape-recipe-form {
    label {
      display: block;
    }
    fieldset {
      margin-bottom: 30px;
    }
  }
}

//layout
